{:paths ["src"]
 :deps  {org.clojure/clojure           {:mvn/version "1.11.1"}
         com.rpl/specter               {:mvn/version "1.1.4"}
         org.clojure/core.logic        {:mvn/version "1.0.1"}
         org.clojure/data.priority-map {:mvn/version "1.1.0"}
         gloss/gloss                   {:mvn/version "0.2.6"}
         net.mikera/core.matrix        {:mvn/version "0.62.0"}
         spyscope/spyscope             {:mvn/version "0.1.6"}
         metosin/jsonista              {:mvn/version "0.3.7"}
         com.hyperfiddle/rcf           {:mvn/version "20220926-202227"}}}
